.logo {
    width: 50px;  
    height: auto;
}

.heading{
    text-align: center;
}


body {
    font-family: 'Shadows Into Light';
    font-size: 22px;
    text-align: center;
    background-color: #999933;
  }